.container{
    height: 300px;
    width: 600px;
    background-color: rgb(186, 18, 18);
    display: grid;
    /* grid-template-rows: 100px 100px 100px; */
    grid-template-columns: 100px 100px 100px;
    /* row-gap: 50px;
    column-gap: 30px; */
    grid-gap: 50px 30px;  /* row-gap || column-gap*/
    
    
}

.items{
    height: 50px;
    width: 100px;
    border: 2px solid white;
    background-color: greenyellow;
}