div{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 255, 0.3);
    border:  2px solid black;
}

#opacity{
    height: 100px;
    width: 100px;
    background-color: black;
    opacity: 0.3;
    color: wheat;
}