div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: inline-block;
    margin: 50px 0 10px 30px;
}

#fixed{
    width: 100px;
    height: 100px;
    background-color: rgb(212, 255, 0);
    color: rgb(0, 0, 0);
    position: fixed;
    top: 10px;
    left: 100px;

}