#container{
    height: 600px;
    width: 60%;
    background-color: rgb(192, 201, 198);
    margin: 10px auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    align-content: flex-start;
}

h1{
    text-align: center;
}

#green{
    align-self: flex-start;   /*controlling single section with align-self*/
    /*flex-basis: 500px;*/   /*if flex-direction is row flex-basic change the width 50px
                            if flex-direction is column flex-basic change the height 50px*/

    /* flex-grow: 1;
    max-width: 100px; */
    /* min-width: 50px; */
    flex-shrink: 1;
}

#skyblue{
    /* flex-basis: 200px; */
    /* flex-grow: 2;
    max-width: 200px; */
    /* min-width: 50px; */
    flex-shrink: 2;

}

#container div{
    height: 100px;
    width: 500px;
    color: white;
    text-align: center;

}