div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: inline-block;
    margin: 0 0 10px 30px;
}

#relative{
    width: 100px;
    height: 100px;
    background-color: rgb(212, 255, 0);
    position: relative;
    top: 100px;
    left: 100px;     /*The offset is relative to itself based on the values of top, right, bottom and left*/
}